
.containered{
  margin: 0 10% ;
}


.food-type-title {
 text-shadow: 1px 5px 10px rgb(0,0,0,0.25);
}

.card-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-items: start;
  padding: 2rem 0;
}

.food-group {
  border-bottom: 1px solid var(--text-color);

 
  background-color: #fff;
}

.food-type-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color);
}
.dropdown-select{
  display: flex;
  justify-content: end;
  margin-top: 50px;
  margin-right: 7%;
}